.header-container {
  padding: 0px 24px;
  height: 58px;
  border-bottom: 1.5px solid #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #101014;
}

.header-title {
  font-family: 'Inter', 'Clear Sans', sans-serif;
  font-weight: 900;
  font-size: 2.3rem;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-dot {
  margin: 0 10px;
  font-size: 2rem;
  color: #c9b458;
  opacity: 0.75;
  font-weight: bold;
}

.header-subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #6aaa64;
  letter-spacing: 0.7px;
}